{% extends "account/base.html" %}

{% load i18n %}
{% load account_tags %}
{% load url from future %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}


{% block content %}

    <div class="well">
        <h3>Login to Deep South Sounds</h3>
        <div>
            <div id="social-login-buttons">
                <ul class="social_login_providers">
                    <li>
                        <a id="twitter_button" href="/accounts/twitter/login/" class="no-click signin_button">Twitter
                        </a>
                    </li>
                    <li>
                        <a href="/accounts/facebook/login/?method=oauth2" id="facebook_button" class="no-click signin_button">Facebook
                        </a>
                    </li>
                </ul>
            </div>
            <br>
            <div id="social-login-disclaimer">
                Please note that using a social account<br>
                does not give us access to your private information
            </div>
        </div>
    </div>


{% endblock %}
