{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Signed Out" %}{% endblock %}
{% block content %}
    <h1>{% trans "Signed Out" %}</h1>
    <p>{% trans "You have signed out." %}</p>
    {% if user.is_authenticated %}
        <h1>Authenticated</h1>
    {% else %}
        <h1>Not Authenticated</h1>
    {% endif %}

{% endblock %}
{% block footerscripts %}
    <!--
    <script type="text/javascript">
    $(document).ready(function () {
        //window.location.href="/";
    });
    -->
    </script>
{% endblock %}