<fieldset>
    <legend>Dss Chat Server</legend>
    <div class="control-group">
        <label for="chat-message" class="control-label">Message</label>
        <div class="controls">
            <textarea class="input-block-level" id="chat-message" rows="3" name="textarea"></textarea>
        </div>
    </div>

    <!-- Button -->
    <div class="control-group">
        <div class="controls">
            <button id="chat-send" name="chat-send" class="btn btn-success">Send message</button>
        </div>
    </div>
</fieldset>
