<div id="title-area">
    <p class="page-header">Upcoming Events</p>
</div>
<div id="layout-area" class="hero-well">
    <table id="event-table" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>What</th>
            <th>Where</th>
            <th>When</th>
        </tr>
        </thead>
        <tbody id="event-list-container" data-provides="rowlink">
        <tr id="tablesorter-fix">
            <th>Nothing</th>
            <th>To See</th>
            <th>Here</th>
        </tr>
        </tbody>
    </table>
</div>