{% load account_tags %}
{% load spa_extras %}
<div class="navbar navbar-fixed-top" xmlns="http://www.w3.org/1999/html">
    <div class="navbar-inner">
        <div class="container">
            <a href="/" class="brand">
                <img src="{{STATIC_URL }}img/site-logo-gr.png"/>
                Deep|South|Sounds</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="/mixes">Mixes</a></li>
                    <li><a href="/releases">Releases</a></li>
                    <li><a href="/events">Events</a></li>
                    {% if user.is_authenticated %}
                    <li><a class="no-click" href="{% url account_logout %}" id="logout">Logout&nbsp;<i class="icon-eject icon-black"></i></a>
                    </li>
                    {% else %}
                    <li><a href="{% url account_login %}" id="login">Login/Signup&nbsp;<i
                            class="icon-music icon-black"></i></a></li>
                    {% endif %}
                </ul>
                <ul class="nav pull-right">
                    <li>
                        <a class="volume-button" data-mode="volume" id="header-volume-button">
                            <i class="icon-volume-up icon-black" id="header-volume-icon"></i>
                        </a>
                    <li>
                    <li>
                        <a id="header-profile-edit" href="/me">{{ user|nice_name }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
