{% load account_tags %}
<div class="navbar navbar-fixed-top" xmlns="http://www.w3.org/1999/html">
    <div class="navbar-inner">
        <div class="container">

            <a href="/" class="brand">
                <img src="{{STATIC_URL }}img/site-logo-gr.png"/>
                Deep|South|Sounds</a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="#/mixes">Mixes</a></li>
                    <li><a href="#/releases">Releases</a></li>
                    <li><a href="#/events">Events</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url account_logout %}" id="logout">Logout&nbsp;<i class="icon-eject icon-white"></i></a>
                    </li>
                    {% else %}
                    <li><a href="#{% url account_login %}" id="login">Login/Signup&nbsp;<i
                            class="icon-music icon-white"></i></a></li>
                    {% endif %}
                </ul>
                <ul class="nav pull-right">
                    <li>
                        <a id="header-live-button">|Live|&nbsp;
                            <i class="icon-headphones icon-white"></i>
                        </a>
                    </li>
                    <li>
                        <a class="play-button" id="header-play-pause-button" data-mode="play"
                           tabindex="1">
                            <i id="header-play-button-icon" class="icon-play icon-white"></i>
                        </a>
                    </li>
                    <li class="divider">
                        <a href="#" id="track-description">AwAiTiNg CoMmAnD</a>
                    </li>
                    <li>
                        <a class="volume-button" data-mode="volume" id="header-volume-button">
                            <i class="icon-volume-up icon-white" id="header-volume-icon"></i>
                        </a>
                    <li>
                    <li>
                    <a href="#/me">{% user_display user %}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
