{% load account %}
{% load socialaccount %}

<div class="well">
    <h2>Login to Deep South Sounds</h2>
    <div>
        <div id="social-login-buttons">
            <ul class="social_login_providers">
                <li>
                    <a class='o-click signin_button' href='{% provider_login_url "twitter" %}' id='twitter_button'>Twitter
                    </a>
                </li>
                <li>
                    <a class='no-click signin_button' id='facebook_button'
                       href="{% provider_login_url "facebook" method="oauth2" %}">Facebook
                    </a>
                </li>
            </ul>
        </div>
        <br />
        <div id="social-login-disclaimer">
            Please note that using your twitter/facebook account<br/>
            to login does not give us access to your private information
        </div>
    </div>
</div>