{% load socialaccount_tags %}
<div class="well">
    <h2>Login to Deep South Sounds</h2>

    <div>
        <div>
            <ul class="social_login_providers">
                <li>
                    <a class='signin_button' href='{% provider_login_url "twitter" %}' id='twitter_button'>
                    </a>
                </li>
                <li>
                    <a class='signin_button' id='facebook_button' href="{% provider_login_url "facebook" method="oauth2" %}">
                    </a>
                </li>
            </ul>
        </div>
        <br />
        <div>
            <span>Please note that using your twitter/facebook account<br/>
                to login does not give us access to your private information</span>
        </div>
    </div>
    <br/>
</div>