
<div class="clearfix control-group" id="div-upload-mix">
    <div class="controls">
        <form action="/ajax/file-upload">
            {% csrf_token %}
            <input type="hidden" class="upload-hash" id="upload-hash-mix">
            <input id="mix-upload" type="file" multiple="false" name="mix-upload"/>
        </form>
    </div>
</div>
<div class="well" id="mix-details">
    <form class="form-horizontal">
        {% csrf_token %}
        <input type="hidden" class="upload-hash" id="upload-hash-details">
        <legend>Mix details</legend>
        <div class="control-group">
            <label class="control-label">Title</label>

            <div class="controls">
                <input id="title" type="text" placeholder="Brief title for your mix…">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Description</label>

            <div class="controls">
                <textarea id="description" rows="10" placeholder="Tracklist would be nice…"/>
            </div>
        </div>
        <div class="form-actions">
            <button id="save-changes" class="btn">Submit</button>
        </div>
    </form>
</div>