<ul class="mix-toggle nav nav-pills">
    <li><a href="/mixes" class="mix-toggle" id='latest'>Latest</a></li>
    <li><a href="/mixes/toprated" id='toprated'>Top Rated</a></li>
    <li><a href="/mixes/mostplayed" id='mostplayed'>Most Played</a></li>
    <li><a href="/mixes/mostactive" id='mostactive'>Most Active</a></li>
    <li><a href="/mixes/recommended" id='recommended'>Recommended</a></li>
    {% if user.is_authenticated %}
        <li><a href="/mixes/favourites" id='favourites'>Favourites</a></li>
    {% endif %}
    <li class="pull-right"><a class="btn" href="/mix/upload" id='upload'>Upload</a></li>
</ul>
<div id="mix-list-container"></div>