<div class="widget-header widget-header-flat widget-header-small">
    <h5>
        <i class="icon-music"></i>
        Now Playing
    </h5>
</div>

<div class="widget-body">
    <div class="profile-activity clearfix">
        <div>
            <img class="pull-left" alt="mix-image" src="<%= mix_image %>">
            <a class="user" href="<%= item_url %>" title="<%= title %>"><%= title %></a>
            <div class="time">
                <i class="icon-user bigger-110"></i>
                <a href="/<%= user_profile_url %>">
                    <%= user_name %>
                </a>
            </div>
        </div>

        <div class="tools action-buttons">
            <a href="#" class="blue">
                <i class="icon-pencil bigger-125"></i>
            </a>

            <a href="#" class="red">
                <i class="icon-remove bigger-125"></i>
            </a>
        </div>
    </div>
</div>
