<div id="title-area">
    <p class="page-header">
        Upcoming Releases
        {% if user.is_staff %}
        <a class="btn pull-right" href="#/release/add">
            Add release
        </a>
        {% endif %}
    </p>
</div>
<div id="layout-area" class="hero-well">
    <table id="release-table" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Label</th>
            <th>Release date</th>
            <th>Artist</th>
            <th>Title</th>
        </tr>
        </thead>
        <tbody id="release-list-container" data-provides="rowlink">
        <tr id="tablesorter-fix">
            <th>Nothing</th>
            <th>To</th>
            <th>See</th>
            <th>Here</th>
        </tr>
        </tbody>
    </table>
</div>