<div class="row">
    <div class="col-sm-9">
        <div class="space"></div>

        <div id="calendar"></div>
    </div>
    <div class="col-sm-3">
        <div class="widget-box transparent">
            <div class="widget-header">
                <h4>Schedule shows</h4>
            </div>
            <div class="widget-body">
                <div class="widget-main no-padding">
                    <div id="external-events">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>