<style type="text/css">
    .side-player {
        display: block;
        background: none repeat scroll 0 0 #FFFFFF;
        border: 1px solid #BFD4D9;
        border-radius: 3px 3px 3px 3px;
        list-style: none outside none;
        overflow-x: auto;
        overflow-y: hidden;
        margin: 0 0 10px 25px;
    }

    #whats-on {
        padding: 15px 0 15px 70px;
        background: url(/static/img/whats-on.png) no-repeat left;
        margin: 0;
    }
</style>
<div class="row" id="side-player-area">
    <div id="whats-on">
        <h3>Now playing
            <button id="sidebar-listen-live" class="btn btn-mini btn-primary push-right btn-inverse"
                    data-toggle="button" type="button">
                Listen Live
            </button>
        </h3>
    </div>
    <div class="side-player">
        <span class="content">
            <div>
                You: <a href="#" id="now-playing">Nothing currently on</a>
            </div>
            <div>
                Live: <span id="live-now-playing"></span>
            </div>
        </span>
    </div>
</div>
<div class="row">
    {% include 'inc/twitter.html' %}
</div>