<div class="col-md-12 bordered-faint well">
    <div class="row">
        <ul class="inline">
            <li>
                {% if user.is_authenticated %}
                    <button href="#"
                            id="follow-button"
                            class="follow-button btn btn-xs btn-primary icon  <% if (is_following) { %> disabled <% } %>">
                        <i id="follow-icon" class="fa fa-eye-close"></i>Follow
                    </button>
                {% else %}
                    <button href="#"
                            id="follow-button-login"
                            class="follow-button btn btn-xs btn-primary icon  <% if (is_following) { %> disabled <% } %>">
                        <i id="follow-icon" class="fa fa-eye-close"></i>Follow
                    </button>
                {% endif %}
            </li>
            <li>
                <h4><strong><a href="<%= url %>"><%= display_name %></a></strong>
                </h4>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-2">
            <a href="<%= url %>" class="thumbnail">
                <img src="<%= avatar_image %>" alt="" style="width: 170px; height: 106px">
            </a>
        </div>
        <div class="col-md-6">
            <p>
                <%= description %>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p></p>

            <p>
                | <i class="fa fa-calendar"></i> Joined: <%= humanise(date_joined) %>
                | <i class="fa fa-calendar"></i> Last Seen: <%= humanise(last_login) %>
            </p>

            <p>
                | <i class="fa fa-music"></i> <a href="/user/<%= slug %>"><%= mix_count%> Mixes</a>
                | <i class="fa fa-heart"></i> <a href="/user/<%= slug %>/favourites"><%= favourite_count %> Favourites</a>
                | <i class="fa fa-star-empty"></i> <a href="/user/<%= slug %>/likes"><%= like_count %> Likes</a>
                | <i class="fa fa-check"></i> <a href="/user/<%= slug %>/followers"><%= followers.length %> Followers</a>
                | <i class="fa fa-share"></i> <a href="/user/<%= slug %>/following"><%= following.length %> Following</a>
            </p>
        </div>
    </div>
</div>
