<div class="user-list-header row-fluid">
    <div class="pull-left span6">
        <div class="input-append search datagrid-search">
            <input id="search-text" type="text" class="input-large" placeholder="Search">
            <button type="button" class="btn"><i class="icon-search"></i></button>
        </div>
    </div>
    <div class="pull-right span6">
        <div id="page-selection"></div>
    </div>
</div>
<hr>
<div class="user-list-details row-fluid" id="user-table">

</div>