selenium
Django==1.11.29
#PIL>=1.1.7 #install PIL manually
south
beautifulsoup4>=4.1.1
decorator>=3.3.3
django-allauth>=0.7.0
django-annoying>=0.7.6
django-celery
django-gravatar2>=1.0.6
django-socialauth>=0.1.2c
django-tastypie>=0.9.11
python-memcached
redis
git+git://github.com/jezdez/django-avatar.git#egg=django-avatar
git+git://github.com/pinax/django-notification.git#egg=django-notification
git+git://github.com/PaulUithol/backbone-tastypie.git#egg=backbone-tastypie
git+git://github.com/tschellenbach/Django-facebook.git#django-facebook
git+git://github.com/hpoul/sct-communitytools.git#django-sct
git+git://github.com/jefftriplett/django-podcast.git#django-podcast
git+git://github.com/etianen/django-require.git#django-require
git+git://github.com/spookylukey/django-paypal.git#django-paypal
git+git://github.com/llazzaro/django-scheduler.git#django-scheduler
git+git://github.com/cyberdelia/django-pipeline.git#django-pipeline
git+git://github.com/disqus/django-bitfield.git#django-bitfield
git+git://github.com/fergalmoran/azure-sdk-for-python.git#azure
django-templated-email
django-grappelli
django-nose
djangorestframework
humanize
mandrill
django-debug-toolbar
sorl-thumbnail
django_extensions
requests
pytz
django-compressor
django-sendfile
django-model_utils
mutagen
Werkzeug
psycopg2
htmlmin
mimeparse
django-htmlmin
tastypie-msgpack
django-jenkins
gunicorn
django-dbbackup
dropbox
django-jfu
six
pyyaml
ua-parser
user-agents
django-user-agents
nginx_signing
cssmin
slimit
djrill
python-shout
django-dirtyfields
django-storages
django-user-sessions
