Django>=1.4
PIL>=1.1.7
south
beautifulsoup4>=4.1.1
decorator>=3.3.3
django-allauth>=0.7.0
django-annoying>=0.7.6
django-celery>=3.0.4
django-gravatar2>=1.0.6
django-avatar>=1.0.5
django-notification>=0.2
django-socialauth>=0.1.2c
django-tastypie>=0.9.11
django-tinymce>=1.5.1b2
git+git://github.com/PaulUithol/backbone-tastypie.git#egg=backbone-tastypie
git+git://github.com/tschellenbach/Django-facebook.git#django-facebook
git+git://github.com/hpoul/sct-communitytools.git#django-sct
git+git://github.com/jefftriplett/django-podcast.git#django-podcast
django-grappelli
humanize
django-debug-toolbar
sorl-thumbnail
django_extensions
requests
django-compressor
django-sendfile
django-polymodels