<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                {% block header %}
                {% endblock %}
            </div>
            <div class="modal-body">
                {% block content %}
                {% endblock %}
            </div>
            <div class="modal-footer">
                {% block extrabuttons %}{% endblock %}
                <button type="button" class="btn btn-default" data-dismiss="modal">{% block primarybutton %}Ok{% endblock %}</button>
            </div>
        </div>
    </div>
</div>
