{% extends 'views/dlg/_DialogBase.html' %}

{% load account %}
{% load static %}
{% load socialaccount %}
{% block header %}
    <h3>Show Me The Money!!</h3>
{% endblock %}
{% block content %}

    <script type="text/javascript">
        $('#paypal-submit').click(function () {
            $('#paypal-form').submit();
        });
        $('#bitcoins-submit').click(function () {
            $('#initial-banner').hide();
            $('#bitcoin-preamble').show();
        });
    </script>
    <div class="well">
        <div class="marketing-droid-speak" id="initial-banner">
            While the site is free and always will be free, bandwidth and disk space aren't. <br/>
            Any support is gratefully received...
        </div>
        <div id="bitcoin-preamble" style="display: none">
            <h3>Have 10 INTERNET nerd points!!</h3>
            <i class="icon-smile yell"></i>&nbsp;You know what to do
            <hr />
            <img src="{{ STATIC_URL }}img/bitcoin-qr.png" alt="Bitcoin QR wallet='1HwT3NxV7BpksNXBnm5hpG5EHAfRNZuJV2'">
            <a class="btn btn-info" href="bitcoin:1HwT3NxV7BpksNXBnm5hpG5EHAfRNZuJV2">
                <i class="icon-folder-open-alt bigger-125"></i>Open Wallet</a>
            <hr/>
            <i class="icon-bitcoin green"></i>&nbsp;1HwT3NxV7BpksNXBnm5hpG5EHAfRNZuJV2
        </div>
    </div>
    <form id="paypal-form" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="29VBHXWZNV8VQ">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1"
             height="1">
    </form>
    <p>
        <button class="btn btn-pink" name="paypal" id="paypal-submit">
            <i class="icon-euro bigger-125"></i>Paypal
        </button>
        <button class="btn btn-info" name="bitcoins" id="bitcoins-submit">
            <i class="icon-bitcoin align-top bigger-125"></i>Bitcoins
        </button>
    </p>
{% endblock %}
{% block primarybutton %}Another time...{% endblock %}