{% extends 'views/dlg/_DialogBase.html' %}

{% load account %}
{% load socialaccount %}
{% block header %}
    <h3>Login to Deep South Sounds</h3>
{% endblock %}
{% block content %}

    <div id="social-login-buttons" class="social_login_providers row-fluid">
        <div class="social_login_provider">
            <a href="/accounts/facebook/login/?method=oauth2" id="facebook_button"
               data-bypass="true" class="social_login_provider_button">Facebook
            </a>
        </div>
        <div class="social_login_provider">
            <a href="/accounts/twitter/login/" id="twitter_button"
               data-bypass="true" class="social_login_provider_button">Twitter
            </a>
        </div>
        <div class="social_login_provider">
            <a href="/accounts/google/login/?method=oauth2" id="google_button"
               data-bypass="true" class="social_login_provider_button">Google
            </a>
        </div>
    </div>
    <div id="social-login-disclaimer" class="row-fluid">
        <h5>Please note that using a social account<br/> does not give us access to your private information</h5>
    </div>
{% endblock %}
{% block primarybutton %}Nah...{% endblock %}