<div class="profile-activity clearfix">
    <div><%= name %></div>
    <div class="tools action-buttons">
        <a href="#" class="blue">
            <i class="ace-icon fa fa-pencil bigger-125"></i>
        </a>
        <a href="#" class="red">
            <i class="ace-icon fa fa-times bigger-125"></i>
        </a>
    </div>
</div>
