.dss-emo-Angel {
    background-position: 0 0;
    width: 15px;
    height: 17px;
}

.dss-emo-Angry {
    background-position: 0 -67px;
    width: 15px;
    height: 15px;
}

.dss-emo-Aww {
    background-position: 0 -132px;
    width: 15px;
    height: 15px;
}

.dss-emo-Aww_2 {
    background-position: 0 -197px;
    width: 15px;
    height: 15px;
}

.dss-emo-Blushing {
    background-position: 0 -262px;
    width: 15px;
    height: 15px;
}

.dss-emo-Childish {
    background-position: 0 -327px;
    width: 15px;
    height: 15px;
}

.dss-emo-Confused {
    background-position: 0 -392px;
    width: 15px;
    height: 15px;
}

.dss-emo-Creepy {
    background-position: 0 -457px;
    width: 15px;
    height: 15px;
}

.dss-emo-Crying {
    background-position: 0 -522px;
    width: 15px;
    height: 15px;
}

.dss-emo-Cthulhu {
    background-position: 0 -587px;
    width: 15px;
    height: 16px;
}

.dss-emo-Cute {
    background-position: 0 -653px;
    width: 15px;
    height: 15px;
}

.dss-emo-Cute_Winking {
    background-position: 0 -718px;
    width: 15px;
    height: 15px;
}

.dss-emo-Devil {
    background-position: 0 -783px;
    width: 15px;
    height: 17px;
}

.dss-emo-Gah {
    background-position: 0 -850px;
    width: 15px;
    height: 15px;
}

.dss-emo-Gah_2 {
    background-position: 0 -915px;
    width: 15px;
    height: 15px;
}

.dss-emo-Gasping {
    background-position: 0 -980px;
    width: 15px;
    height: 15px;
}

.dss-emo-Greedy {
    background-position: 0 -1045px;
    width: 15px;
    height: 15px;
}

.dss-emo-Grinning {
    background-position: 0 -1110px;
    width: 15px;
    height: 15px;
}

.dss-emo-Grinning_Winking {
    background-position: 0 -1175px;
    width: 15px;
    height: 15px;
}

.dss-emo-Happy {
    background-position: 0 -1240px;
    width: 15px;
    height: 15px;
}

.dss-emo-Happy_2 {
    background-position: 0 -1305px;
    width: 15px;
    height: 15px;
}

.dss-emo-Happy_3 {
    background-position: 0 -1370px;
    width: 15px;
    height: 15px;
}

.dss-emo-Heart {
    background-position: 0 -1435px;
    width: 13px;
    height: 15px;
}

.dss-emo-Huh {
    background-position: 0 -1500px;
    width: 15px;
    height: 15px;
}

.dss-emo-Huh_2 {
    background-position: 0 -1565px;
    width: 15px;
    height: 15px;
}

.dss-emo-Laughing {
    background-position: 0 -1630px;
    width: 15px;
    height: 15px;
}

.dss-emo-Lips_Sealed {
    background-position: 0 -1695px;
    width: 15px;
    height: 15px;
}

.dss-emo-Madness {
    background-position: 0 -1760px;
    width: 15px;
    height: 15px;
}

.dss-emo-Malicious {
    background-position: 0 -1825px;
    width: 15px;
    height: 15px;
}

.dss-emo-Sick {
    background-position: 0 -1890px;
    width: 15px;
    height: 15px;
}

.dss-emo-Smiling {
    background-position: -65px 0;
    width: 15px;
    height: 15px;
}

.dss-emo-Speechless {
    background-position: -65px -65px;
    width: 15px;
    height: 15px;
}

.dss-emo-Spiteful {
    background-position: -65px -130px;
    width: 15px;
    height: 15px;
}

.dss-emo-Stupid {
    background-position: -65px -195px;
    width: 15px;
    height: 15px;
}

.dss-emo-Sunglasses {
    background-position: -65px -260px;
    width: 15px;
    height: 15px;
}

.dss-emo-Terrified {
    background-position: -65px -325px;
    width: 15px;
    height: 15px;
}

.dss-emo-Thumb_Down {
    background-position: -65px -390px;
    width: 12px;
    height: 14px;
}

.dss-emo-Thumb_Up {
    background-position: -65px -454px;
    width: 12px;
    height: 14px;
}

.dss-emo-Tired {
    background-position: -65px -518px;
    width: 15px;
    height: 15px;
}

.dss-emo-Tongue_Out {
    background-position: -65px -583px;
    width: 15px;
    height: 15px;
}

.dss-emo-Tongue_Out_Laughing {
    background-position: -65px -648px;
    width: 15px;
    height: 15px;
}

.dss-emo-Tongue_Out_Left {
    background-position: -65px -713px;
    width: 15px;
    height: 15px;
}

.dss-emo-Tongue_Out_Up {
    background-position: -65px -778px;
    width: 15px;
    height: 15px;
}

.dss-emo-Tongue_Out_Up_Left {
    background-position: -65px -843px;
    width: 15px;
    height: 15px;
}

.dss-emo-Tongue_Out_Winking {
    background-position: -65px -908px;
    width: 15px;
    height: 15px;
}

.dss-emo-Uncertain {
    background-position: -65px -973px;
    width: 15px;
    height: 15px;
}

.dss-emo-Uncertain_2 {
    background-position: -65px -1038px;
    width: 15px;
    height: 15px;
}

.dss-emo-Unhappy {
    background-position: -65px -1103px;
    width: 15px;
    height: 15px;
}

.dss-emo-Winking {
    background-position: -65px -1168px;
    width: 15px;
    height: 15px;
}
.dss-emo {
    background: url(../img/dss-emoticons.png) no-repeat top left;
}
