<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
    <title>Deep South Sounds</title>
    <meta property="og:title" content="Deep South Sounds"/>
    <meta property="og:url" content="http://ext-test.deepsouthsounds.com:8000/"/>
    <meta property="og:image" content="http://ext-test.deepsouthsounds.com:8000/static/img/dss-large.png"/>
    <meta property="og:site_name" content="DSS"/>
    <meta property="fb:admins" content="600728899"/>
    <meta property="fb:app_id" content="154504534677009"/>
    <meta property="og:description"
          content="Deep house music with a touch of Cork."/>
</head>
</html>