<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
    <title>Deep South Sounds</title>
    <meta property="og:title" content="Deep South Sounds"/>
    <meta property="og:url" content="{{ site_url }}"/>
    <meta property="og:image" content="{{ site_image_url }}"/>
    <meta property="og:site_name" content="DSS"/>
    <meta property="fb:admins" content="600728899"/>
    <meta property="fb:app_id" content="{{ app_id }}"/>
    <meta property="og:description"
          content="Deep house music with a touch of Cork."/>
</head>
<body>
    <h1>Facebook interstitial page</h1>
</body>
</html>
