<!DOCTYPE HTML>
<html>
<head>
    <title>Deep South Sounds User Profile</title>
    <meta property="fb:app_id" content="{{ app_id }}" />
    <meta property="og:url"    content="{{ profile_url }}/" />
    <meta property="og:title"  content="{{ title }} on Deep South Sounds" />
    <meta property="og:description"  content="{{ description }} on Deep South Sounds" />
    <meta property="og:image"  content="{{ image_url }}" />
    <meta property="og:type"  content="profile" />
</head>
<body>
    <h1>Facebook user interstitial page</h1>
</body>
</html>
