<!doctype html>
<html>
<head>
    <title>Deep South Sounds</title>
    <meta charset="utf-8">
    <meta name="keywords" content="deep, house, cork, share, audio, dj, mix, share, music, tech">
    <meta name="description" content="A selection of deep house music with a Cork flavour.">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="google-site-verification" content="QklO8eTY9nWJdxpkPtHme9XpNDTjUOPoW5hcJJEkwUU"/>


    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300"/>


    <link rel="stylesheet" href="http://ext-test.deepsouthsounds.com/DSSStatic/css/ace/uncompressed/bootstrap.css"/>
    <link rel="stylesheet" href="http://ext-test.deepsouthsounds.com/DSSStatic/css/ace/uncompressed/font-awesome.css"/>
    <link rel="stylesheet" href="http://ext-test.deepsouthsounds.com/DSSStatic/css/jasny/jasny-bootstrap.css">

    <link rel="stylesheet" href="http://ext-test.deepsouthsounds.com/DSSStatic/css/ace/uncompressed/ace.css"/>
    <link rel="stylesheet" href="http://ext-test.deepsouthsounds.com/DSSStatic/css/ace/uncompressed/ace-skins.css"/>
    <link rel="stylesheet" href="http://ext-test.deepsouthsounds.com/DSSStatic/css/ace/bootstrap-editable.css"/>
    <link rel="stylesheet" href="http://ext-test.deepsouthsounds.com/DSSStatic/css/ace/jquery.gritter.css"/>


    <link rel="stylesheet" href="http://ext-test.deepsouthsounds.com/DSSStatic/css/select2.css">
    <link rel="stylesheet" href="http://ext-test.deepsouthsounds.com/DSSStatic/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="http://ext-test.deepsouthsounds.com/DSSStatic/css/com.podnoms.player.css">
    <link rel="stylesheet" href="http://ext-test.deepsouthsounds.com/DSSStatic/css/toastr.css">

    <link rel="stylesheet" href="http://ext-test.deepsouthsounds.com/DSSStatic/css/deepsouthsounds.css">


</head>
<body>
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=154504534677009";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<!-- Google Analytics not included because you haven't set the settings.GOOGLE_ANALYTICS_CODE variable! -->

<!-- Piwik -->

<!-- End Piwik Code -->
<!--[if lt IE 9]>
    <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
<![endif]-->


<div id="header"></div>
<div class="space-6"></div>
<div class="body-content col-md-9" id="content">


</div>
<div id="side-content" class="col-md-3">


    <div id="sidebar"></div>
    <div id="site-content-fill"></div>
</div>
<div id="footer"></div>
</body>
<script src="/js/settings/"></script>
<script src="http://ext-test.deepsouthsounds.com/DSSStatic/js/libs/require.js"
        data-main="http://ext-test.deepsouthsounds.com/DSSStatic/js/main.js"></script>


<script src="http://ext-test.deepsouthsounds.com/DSSStatic/js/libs/sm/soundmanager2.js"></script>

<script src="http://ext-test.deepsouthsounds.com/DSSStatic/js/libs/modernizr.js"></script>
<script src="http://ext-test.deepsouthsounds.com/DSSStatic/js/com.podnoms.storage.js"></script>
<script src="http://ext-test.deepsouthsounds.com/DSSStatic/js/com.podnoms.player.js"></script>


</html>
