<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Deep South Sounds</title>
    {% include 'inc/meta.html' %}
    {% load compress %}
    {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-datepicker.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-timepicker.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jasny/jasny-bootstrap.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jasny/jasny-bootstrap-responsive.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/select2.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/colorbox.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/deepsouthsounds.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/uploadifive.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/com.podnoms.player.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/emoticons.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/toastr.css">
    {% endcompress %}
    {% block headerscripts %}
    {% endblock %}
</head>
<body>
{% include 'inc/facebook.html' %}
{% include 'inc/analytics.html' %}
{% include 'inc/ancient_browser.html' %}
<div id="header"></div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span9" id="content">
            {% block content %}
            {% endblock %}
        </div>
        <div class="span3" style="float: right" id="side-content">
            {% block sidecontent %}
            {% endblock %}
            <div id="sidebar"></div>
            <div id="site-content-fill"></div>
        </div>
    </div>
</div>
<script src="/js/settings/"></script>
<script data-main="{{ STATIC_URL }}js/app/dss.bootstrapper.js" src="{{ STATIC_URL }}js/libs/require.js"></script>
{% compress js %}
    {% if DEBUG %}
        <script src="{{ STATIC_URL }}js/libs/sm/soundmanager2.js"></script>
    {% else %}
        <script src="{{ STATIC_URL }}js/libs/sm/soundmanager2-nodebug.js"></script>
    {% endif %}
    <script src="{{ STATIC_URL }}js/libs/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery.form.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery.cookie.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery.tablesorter.js"></script>
    <script src="{{ STATIC_URL }}js/libs/uploadify/jquery.uploadifive.js"></script>
    <script src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jasny/bootstrap-fileupload.js"></script>
    <script src="{{ STATIC_URL }}js/libs/modernizr.js"></script>
    <script src="{{ STATIC_URL }}js/libs/point.js"></script>
    <script src="{{ STATIC_URL }}js/libs/matrix.js"></script>
    <script src="{{ STATIC_URL }}js/libs/select2.js"></script>
    <script src="{{ STATIC_URL }}js/libs/ajaxfileupload.js"></script>
    <script src="{{ STATIC_URL }}js/app/site.js"></script>
    <script src="{{ STATIC_URL }}js/app/social.js"></script>
    <script src="{{ STATIC_URL }}js/com.podnoms.utils.js"></script>
    <script src="{{ STATIC_URL }}js/com.podnoms.storage.js"></script>
    <script src="{{ STATIC_URL }}js/com.podnoms.player.js"></script>
{% endcompress %}
{% comment %}
    <script src="{{ STATIC_URL }}js/libs/jasny/bootstrap-rowlink.js"></script>
    <script src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap-timepicker.js"></script>
    <script src="{{ STATIC_URL }}js/libs/bootstrap/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/app/chat.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery.iphone-switch.js"></script>
    <script src="{{ STATIC_URL }}js/libs/tiny_mce/jquery.tinymce.js"></script>
    <script src="{{ STATIC_URL }}js/libs/backbone/underscore.js"></script>
    <script src="{{ STATIC_URL }}js/libs/moment.js"></script>
    <script src="{{ STATIC_URL }}js/libs/ICanHaz.js"></script>
    <script src="{{ STATIC_URL }}js/libs/backbone/backbone.js"></script>
    <script src="{{ STATIC_URL }}js/libs/backbone/backbone.marionette.js"></script>
    <script src="{{ STATIC_URL }}js/libs/backbone/backbone-tastypie.js"></script>
    <script src="{{ STATIC_URL }}js/libs/backbone/backbone.mine.js"></script>
    <script src="{{ STATIC_URL }}js/libs/backbone/backbone.syphon.js"></script>
    <script src="{{ STATIC_URL }}js/libs/backbone/backbone.infiniscroll.js"></script>
    <script src="{{ STATIC_URL }}js/libs/globalize.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery.colorbox.js"></script>
    <script src="{{ STATIC_URL }}js/app/models/mix.js"></script>
    <script src="{{ STATIC_URL }}js/app/models/user.js"></script>
    <script src="{{ STATIC_URL }}js/app/models/activity.js"></script>
    <script src="{{ STATIC_URL }}js/app/models/comment.js"></script>
    <script src="{{ STATIC_URL }}js/app/models/release.js"></script>
    <script src="{{ STATIC_URL }}js/app/models/release_audio.js"></script>
    <script src="{{ STATIC_URL }}js/app/models/event.js"></script>
    <script src="{{ STATIC_URL }}js/app/views/header.js"></script>
    <script src="{{ STATIC_URL }}js/app/views/sidebar.js"></script>
    <script src="{{ STATIC_URL }}js/app/views/sidebaruser.js"></script>
    <script src="{{ STATIC_URL }}js/app/views/mix.js"></script>

    <script src="{{ STATIC_URL }}js/app/views/userEdit.js"></script>
    <script src="{{ STATIC_URL }}js/app/views/user/userList.js"></script>

    <script src="{{ STATIC_URL }}js/app/views/comment.js"></script>
    <script src="{{ STATIC_URL }}js/app/views/activity.js"></script>
    <script src="{{ STATIC_URL }}js/app/views/release.js"></script>
    <script src="{{ STATIC_URL }}js/app/views/release_audio.js"></script>
    <script src="{{ STATIC_URL }}js/app/views/event.js"></script>
    <script src="{{ STATIC_URL }}js/app/app.js"></script>
    <script src="{{ STATIC_URL }}js/app/social.js"></script>
{% endcomment %}
{% block footerscripts %}
{% endblock %}
</body>
</html>
