{% load static %}
{% load compressed %}
<!doctype html>
<html>
<head>
    <title>Deep South Sounds</title>
    {% include 'inc/meta.html' %}
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300"/>
    <link href="//fonts.googleapis.com/css?family=Ubuntu&subset=latin" rel="stylesheet" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />


    {% compressed_css 'css' %}

    {% block headerstyles %}
    {% endblock %}
    {% block headerscripts %}
    {% endblock %}
    <!--if lt IE 9script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    -->
</head>
<body class="skin-2">
{% include 'inc/analytics.html' %}
<div id="fb-root"></div>

<div id="header" class="navbar navbar-default"></div>

<div class="space-6"></div>

<div class="main-container" id="main-container">
    <div id="sidebar-left" class="sidebar responsive">
    </div>
    <div class="main-content">
        <div class="page-content">
            <div class="page-content-area">
                <div class="col-xs-12" id="full-content">
                    <div class="row">
                        <div class="ua-message">{{ ua_html|safe }}</div>
                    </div>
                    <div class="row">
                        <div id="content"></div>
                    </div>
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer"></div>
<script src="{{ socket_io }}"></script>

<script src="/js/settings/"></script>
<script type="text/javascript">
    var burst = Date.now();
</script>

{% compressed_js 'lib' %}
{% compressed_js 'templates' %}

<script type="application/javascript">
    $(function () {
        Dss.start();
    });
</script>
<script>
    jQuery(window).load(function (appId) {
        (function () {
            var e = document.createElement('script');
            e.async = true;
            e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
            document.getElementById('fb-root').appendChild(e);
        }());
    });
</script>
{% block footerscripts %}
{% endblock %}
</body>
</html>
