<div id="whats-on">
    <h3>Now playing
        </button>
    </h3>
</div>
<div>
    <h5>You are listening to</h5>
</div>
<div class="side-player">
    <span class="content">
        <div>
            <span class="content">
                <div>
                    <a href="#" id="now-playing">Nothing currently on</a>
                </div>
            </span>
        </div>
    </span>
</div>
<div>
    <h5>Now on DSS Radio
        <button id="sidebar-listen-live" class="btn btn-mini btn-success push-right"
                data-toggle="button" type="button">
            Listen Live
        </button>
    </h5>
</div>

<div class="side-player">
        <span class="content">
            <div>
                <span id="live-now-playing"></span>
            </div>
        </span>
</div>
