<!doctype html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <title>Two structured audio properties</title>
    <meta property="og:title" content='Brawther "back to basics"'>
    <meta property="og:site_name" content="Deep South Sounds">
    <meta property="og:type" content="audio.song">
    <meta property="og:url" content="http://ext-test.deepsouthsounds.com:8000/static/html/test1.html">
    <meta property="og:image"
          content="http://ext-test.deepsouthsounds.com:8000/media/mix-images/Deepsouthsounds/brawther.jpg">
    <meta property="og:image:width" content="50">
    <meta property="og:image:height" content="50">
    <meta property="og:image:type" content="image/png">
    <meta property="og:audio"
          content="http://ext-test.deepsouthsounds.com:8000/media/mixes/Deepsouthsounds/Brawther - BackToBasics Podcast 01.mp3">
    <meta property="og:audio:type" content="audio/mpeg">
</head>
<body>
<p>Audio property with type declaration as structured property.</p>
</body>
</html>